<ul >
  {{#events}}
    <li>
        <h2>Title: {{ title }}</h2>
        <p>Descripton: {{ description }}</p>
        <p>Id: {{ id }}</p>
        <p>Likes: {{ likes }}</p>
        <form action="/like" method="post">
            <input type="hidden" value="{{ id }}" name="id" />
            <input type="submit" value="Like" />
        </form>
    </li>
  {{/events}}
</ul>